.Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* use CSS variables from theme.scss */
    background-color: var(--BackdropColor);
    backdrop-filter: blur(var(--BackdropBlur));
    -webkit-backdrop-filter: blur(var(--BackdropWebkitBlur));

    z-index: 999;

    transform-origin: top left;
    transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.25s;

    &.Closed {
        opacity: 0;
        pointer-events: none; /* 클릭 방지 */
    }

    &.Open {
        opacity: 1;
    }
}
